<div class="container-fluid">
    <h2 class="text-center">Write down a Quote</h2>
    <hr>
    <form #goalForm='ngForm'>

        <div class="form-group">
  
            <label for="saying">Quote</label>
            <textarea class="form-control" id="saying" rows="4" [(ngModel)]="newQuote.saying" name="saying" #saying="ngModel" required></textarea>
            <div [hidden]="saying.valid || saying.pristine" class="alert alert-danger">
              <p>Quote is required</p>
            </div>
        </div>

        <div class="form-group">
  
            <label for="author">Author's Name</label>
            <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.saying" name="author" #author='ngModel' required>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
              <p>Name of author is required</p>
            </div>
        </div>
        <div class="form-group">
  
            <label for="author">Author's Name</label>
            <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.saying" name="author" #author='ngModel' required>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
              <p>Name of author is required</p>
            </div>
        </div>
        
        <div class="form-group">
  
            <label for="complete">Completion</label>
            <input type='date' id="complete" [(ngModel)]="newQuote.Date" name="completeDate" #completeDate="ngModel" required>
            <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
              <p>Date is required</p>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add Goal</button>
    </form>
  </div>